body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.full-page-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white; /* or any contrasting color depending on your image */
  text-align: center;
  padding-top: 20%;
}
